[Package]
version: 1
depends: 

[Product]
type: localboot
id: teska-turtlecoder
name: teska-turtlecoder
description: Installiert Turtlecoder
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

