[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: teska-makecode
name: teska-makecode
description: Installiert Makecode
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

